---
- import_tasks: users.yml
- import_tasks: reflector.yml
- import_tasks: locale.yml

- name: Update all packages on the system
  kewlfft.aur.aur:
    update_cache: yes
    upgrade: yes

- name: Install yay from the AUR using kewlfft.aur.aur
  kewlfft.aur.aur:
    name: yay
    state: present

- name: Install some common tools and core dependencies
  kewlfft.aur.aur:
    name:
      - archlinux-keyring
      - aspell-en
      - aspell-uk
      - base-devel
      - bat
      - btop
      - curl
      - direnv
      - git
      - htop
      - imagemagick
      - lsd
      - make
      - neofetch
      - networkmanager
      - oh-my-posh
      - pacman-contrib
      - ranger
      - rsync
      - shellcheck
      - tuckr
      - sysz
      - thefuck
      - trash-cli
      - tree
      - wget
      - yazi
      - zoxide
      - zsh
    state: present

- import_tasks: nobeep.yml
- import_tasks: entropy.yml
