[Unit]
Description=Freeze Firefox around suspend/resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/pkill -STOP -f firefox-developer-edition
ExecStop=-/usr/bin/pkill -CONT -f firefox-developer-edition

[Install]
WantedBy=sleep.target
