# Indicate that this is the root EditorConfig file
root = true

# Global settings for all files
[*]
charset = utf-8
end_of_line = lf # it is the law
indent_style = space # believe it or not, tab is straight to jail
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Specific settings for Markdown files
[*.md]
max_line_length = 0

# Specific settings for Makefiles
[Makefile]
indent_style = tab # Makefiles require tabs

# Specific settings for Justfile
[justfile, Justfile]
# Settings match global; included for clarity
indent_style = space
indent_size = 4

# Specific settings for YAML files
[*.yml, *.yaml]
indent_style = space
indent_size = 2
