# Indicate that this is the root EditorConfig file
root = true

# Global settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Specific settings for Markdown files
[*.md]
max_line_length = 0

[Makefile]
indent_style = tab # Makefiles require tabs

# Settings match global; included for clarity
[justfile, Justfile]
indent_style = space
indent_size = 4

# yaml tends to set spacing to 2
[*.yml, *.yaml]
indent_style = space
indent_size = 2
