[submodule "docker-alias"]
	path = docker-alias
	url = git@github.com:sthysel/docker-alias.git
[submodule "vim"]
	path = vim
	url = git@github.com:sthysel/dotvim.git
[submodule "alias.d/docker"]
	path = alias.d/docker
	url = git@github.com:sthysel/docker-alias.git
