.#*
.*.sw?
.svn
*.pdf
.DS_Store
*.tmproj
*.zip
.com.apple.*
.idea
.powenv
/doc/tags
*.rbc
*.swp
*~
*.pyc
*.html~
*.js~
media/
bpam/build
bpam/bpam.egg-info
bpam/dist
bootstrap
virt_bpam
bpam.egg-info/
*.komodoproject
build-number.txt
setup.cfg
*.rpm
.idea/workspace.xml
.idea/tasks.xml
.coverage
htmlcov/
bpam/static/
syntax:regexp
\.idea
#*#
