[Desktop Entry]
Version=46.4.0.34752
Name=Webex
Comment=Webex
Exec=/opt/Webex/bin/CiscoCollabHost %U
Icon=/home/thys/.local/share/WebexLauncher/sparklogosmall.png
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=x-scheme-handler/webexteams;x-scheme-handler/ciscospark;x-scheme-handler/webex
