<advancedsettings>
  <videoplayer>
    <adjustrefreshrate>2</adjustrefreshrate>
    <usedisplayasclock>true</usedisplayasclock>
  </videoplayer>
  <cache>
    <memorysize>{{ kodi_cache_memorysize }}</memorysize>
    <readfactor>{{ kodi_cache_readfactor }}</readfactor>
  </cache>
</advancedsettings>
